django==2.1.7
setuptools==38.4.0
django-rest-framework
django-haystack==2.8.1
wheel==0.30.0
mysqlclient==1.3.13
pysolr==3.7.0
django-cors-headers==1.2.0
django-letsencrypt==3.0.0
python-dateutil==2.6.1
w3lib==1.19.0
jieba==0.39
lxml==4.9.1
textrank4zh==0.3
uWSGI==2.0.18
